html, body {
	height: 100%;
	background-color: #443A33;
	font-family: Chivo, Helvetica Neue, Helvetica;
	color: white;
	overflow: hidden; /* Disables scrolling */
}

h1 {
	opacity: .3
}

.highlight { 
	color: #149AD4; 
}

.wrapper {
	min-height: 100%;
	width: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px
}

.brace {
	color: #149AD4;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
	cursor: default;
	position: fixed;
	top: 30%;
	font-size: 2000%
}

b {
	color: #FF8C38;
	font-size: 200%
}

p:hover {
	text-decoration: none
}

a {
	color: white;
	padding: 0 2px;
	text-decoration: none;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4)
}
a:hover {
	color: #FF8C38;
	text-decoration: none;
	text-shadow: 0px 0px 0px;
}

.blurb {
	opacity: 0;
	position: fixed;
	top: 36%;
	width: 400px;
	left: 10%;
}


.header {
	top: 2%;
	text-align: center;
	color: white;
	font-size:250%;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
	cursor: default;
	width: 50%;
	margin: 0 auto;
}

.menu {
	position: fixed;
	font-size: 200%;
	top: 41%
}

.left{ left: 44%; }
.right{ left: 80%; }
.leftish { left: 49%; }
.rightish { left: 69%; }
.links{ opacity: 0; }

li { 
	list-style-type: none;
	font-size: 80% 
}

@media only screen and (max-device-width: 480px) {
	.brace, .links {
		display: none
	}

	.header {
		font-size: 300%
	}

	.blurb {
		position: static;
		font-size: 200%;
		width: 85%;
		margin: 0 auto;
		padding-bottom: 10px
	}

	body, html {
		overflow: scroll;
	}
}